In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

dataset link - https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

pd.read_csv('E:\\Downloads\\bank\\bank.csv' , sep=";")

1 . how many campaign available in this dataset . 
2 . how many users do we have with housing and personal loan . 
3. how many person do we have whose age is 60+ . 
4 . in which month we have trageted most of the customer . 
5 . which mode of call is giving you more result
6 . how many enterpeures do we have in this list  
7 . how many customers do we have with negative balance 
8. prepare a group of data based on education level . 



For titanic datset : 


1 . Find out how many male and female passenger was onboarded .
2. how many survived we have .
3. how many casuality we have 
4 . what is name of a person who is the eldest one . 
5 . how many passenger do we have in first , second and third class 
6. how many person we have whose name starts with "s"
7. try to create a new column which is a summation  of "SibSp" and "parch"
8 . how many person do we have below age of 25 .
9 . how many person died whose age was less then 40 
10 . from a  cabin column seperate text and numeric value .

In [4]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [14]:
# Q1 : How many male & Female passangers on board
male_count = len(df[df['Sex'] == 'male'])
female_count = len(df[df['Sex'] == 'female'])
print("Number of male passangers = ", male_count)
print("Number of female passangers = ", female_count)

Number of male passangers =  577
Number of female passangers =  314

In [18]:
# Q2 : how many survived we have .
Survived_Count= len(df[df['Survived']==1])
print("Number of Survived passangers = ", Survived_Count)

Number of Survived passangers =  342

In [21]:
# Q3 : how many casuality we have 
Casualty_Count = len(df) - len(df[df['Survived']==1])
print("Number of Casualty = ", Casualty_Count)

Number of Casualty =  549

In [31]:
# Q4 : what is name of a person who is the eldest one . 
index = df['Age'].idxmax()
df.iloc[index]['Name']

'Barkworth, Mr. Algernon Henry Wilson'

In [29]:
# Q5 : how many passenger do we have in first , second and third class 
Class3_Passanger_Count = len(df[df['Pclass']==3])
print("Number of Class 3 passangers = ", Class3_Passanger_Count)

Class2_Passanger_Count = len(df[df['Pclass']==2])
print("Number of Class 2 passangers = ", Class2_Passanger_Count)

Class1_Passanger_Count = len(df[df['Pclass']==1])
print("Number of Class 1 passangers = ", Class1_Passanger_Count)

Number of Class 3 passangers =  491
Number of Class 2 passangers =  184
Number of Class 1 passangers =  216

In [49]:
# Q6 : how many person we have whose name starts with "B"
NameStartWithB_Count = len(df[df['Name'].str[0] == 'B'])
print("Number of Persons name starts with B = ", NameStartWithB_Count)

Number of Persons name starts with B =  72

In [5]:
# Q7 : try to create a new column which is a summation  of "SibSp" and "parch"
# Added a new column name = "Sibsp_Parch"

df['Sibsp_Parch'] = df['SibSp'] + df['Parch']

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  Sibsp_Parch  891 non-null    int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [57]:
# Q8 : how many person do we have below age of 25 .
PersonBelow25_Count = len(df[df['Age'] <= 25])
print("Number of people below age 25 = ", PersonBelow25_Count)

Number of people below age 25 =  301

In [62]:
# Q9 : how many person died whose age was less then 40 
People_Dies_Age_less40 = len(df[(df['Survived'] ==0) & (df['Age'] <= 40)])
print("Number of people died below age 40 = ", PersonBelow25_Count)

Number of people died below age 40 =  301

In [69]:
# Q10 : from a  cabin column seperate text and numeric value . 
SeparateCoulmns = df['Cabin'].str.extract('([a-zA-Z]+)([^a-zA-Z]+)')
print(SeparateCoulmns)

       0    1
0    NaN  NaN
1      C   85
2    NaN  NaN
3      C  123
4    NaN  NaN
..   ...  ...
886  NaN  NaN
887    B   42
888  NaN  NaN
889    C  148
890  NaN  NaN

[891 rows x 2 columns]