In [1]:
t = (1,2,3,4,5)

In [2]:
type(t)

tuple

In [5]:
t1 = ("sudh" , 345 , 45+78j , 546.56 ,True)

In [5]:
 l = ["sudh" , 345 , 45+78j , 546.56 ,True]

In [6]:
type(t1)

tuple

In [7]:
type(l)

list

In [8]:
t2 = ()

In [9]:
type(t2)

tuple

In [10]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [11]:
l

['sudh', 345, (45+78j), 546.56, True]

In [12]:
l[0:2]

['sudh', 345]

In [13]:
t1[0:2]

('sudh', 345)

In [14]:
t1[::-1]

(True, 546.56, (45+78j), 345, 'sudh')

In [15]:
t1[-1]

True

In [16]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [17]:
t1[0::2]

('sudh', (45+78j), True)

In [18]:
l

['sudh', 345, (45+78j), 546.56, True]

In [19]:
l1 = [4,5,6,7]

In [21]:
l[0] = "kumar"

In [22]:
l

['kumar', 345, (45+78j), 546.56, True]

In [23]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [7]:
t1[0] = "xyz"

TypeError: 'tuple' object does not support item assignment

In [26]:
s = "sudh"

In [28]:
s[0] = 45

TypeError: 'str' object does not support item assignment

In [29]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [30]:
t2 = (34,56,56,56,5,656)

In [31]:
t1+t2

('sudh', 345, (45+78j), 546.56, True, 34, 56, 56, 56, 5, 656)

In [32]:
l

['kumar', 345, (45+78j), 546.56, True]

In [33]:
l1

[4, 5, 6, 7]

In [34]:
l+l1

['kumar', 345, (45+78j), 546.56, True, 4, 5, 6, 7]

In [35]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [36]:
t1*2

('sudh', 345, (45+78j), 546.56, True, 'sudh', 345, (45+78j), 546.56, True)

In [37]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [39]:
t1.count("sudh")

1

In [40]:
t1.index("sudh")

0

In [38]:
l

['kumar', 345, (45+78j), 546.56, True]

In [ ]:
l.

In [41]:
t = (45,54,54,5, (4,5,6) , ("sudh"))

In [42]:
t

(45, 54, 54, 5, (4, 5, 6), 'sudh')

In [8]:
t1 = ([3,4,54,6]  , ("sd" , 435,56) , "ushd")

In [9]:
t1[0][2] = "sudh"

In [10]:
t1

([3, 4, 'sudh', 6], ('sd', 435, 56), 'ushd')

In [50]:
t1[0] = "sdfsaf"

TypeError: 'tuple' object does not support item assignment

In [23]:
t1 = (53,54,45,4,5,4,54)

In [53]:
l  = list(t1)

In [54]:
l

[53, 54, 45, 4, 5, 4, 54]

In [55]:
tuple(l)

(53, 54, 45, 4, 5, 4, 54)

In [24]:
l = [1,2,3,4,5,6,76,5,5,5,5,5,5,5,2,3,4,5,6,1,2,3]

In [25]:
l*3

[1,
 2,
 3,
 4,
 5,
 6,
 76,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 1,
 2,
 3,
 4,
 5,
 6,
 76,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3,
 1,
 2,
 3,
 4,
 5,
 6,
 76,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 2,
 3,
 4,
 5,
 6,
 1,
 2,
 3]

In [12]:
set(l)

{1, 2, 3, 4, 5, 6, 76}

In [16]:
type(set(l))

set

In [18]:
s = {}

In [19]:
type(s)

dict

In [61]:
s1 = {2,3,4}

In [62]:
type(s1)

set

In [26]:
s2={1,1,1,1,1,1,2,3,4,54,4,3,3,2,54}

In [27]:
s2

{1, 2, 3, 4, 54}

In [28]:
s2[0]

TypeError: 'set' object is not subscriptable

In [67]:
list(s2)

[1, 2, 3, 4, 54]

In [29]:
s2

{1, 2, 3, 4, 54}

In [32]:
s2.add(89777)

In [33]:
s2

{1, 2, 3, 4, 54, 89777}

In [71]:
s2.add("sudh")

In [72]:
s2

{1, 2, 3, 4, 54, 89777, 'sudh'}

In [73]:
s2.add([3,4,5,6])

TypeError: unhashable type: 'list'

In [74]:
{[3,4,5,6] ,3,4,5,3,4,5}

TypeError: unhashable type: 'list'

In [36]:
s = {(3,4,5,6) ,(3,4,5,6) ,3,4,5,3,4,5}

In [37]:
s

{(3, 4, 5, 6), 3, 4, 5}

In [79]:
s

{(3, 4, 5, 6), 3, 4, 5}

In [80]:
s.remove(4)

In [81]:
s

{(3, 4, 5, 6), 3, 5}

In [82]:
s.discard(5)

In [38]:
s

{(3, 4, 5, 6), 3, 4, 5}

In [84]:
s.remove(45)

KeyError: 45

In [41]:
s.discard(4)

In [42]:
s

{(3, 4, 5, 6), 3, 5}

In [86]:
{"sudh" ,"Sudh"}

{'Sudh', 'sudh'}

In [87]:
s = {4,5,6,7,78 , 3,4,5,3,4,5 , "sudh" , "sudh"}

In [88]:
s

{3, 4, 5, 6, 7, 78, 'sudh'}

In [89]:
l = [3,4,5,6]

In [90]:
set(l)

{3, 4, 5, 6}

In [93]:
d = {3,4}

In [94]:
type(d)

set

In [95]:
d = {4:"sudh"}

In [98]:
d1 = {"key1" : 5445 , "key2" :"sudh" , 45 : [3,4,5,6]}

In [99]:
l = [3,4,5,6,7]

In [50]:
d1

{'key1': [2, 3, 4, 5], 'key2': [2, 3, 4, 5], 'kumar': 45}

In [101]:
l[0]

3

In [102]:
d1['key1']

5445

In [51]:
d1[45]

KeyError: 45

In [43]:
d = {"KEY":{3,4,5,6}}

In [44]:
d1 = {"key1" : [2,3,4,5]  , "key2":[2,3,4,5], "kumar" :45}

In [47]:
d1['key1']

[2, 3, 4, 5]

In [121]:
d1['kumar']

45

In [122]:
d3= {"*+++":"venu"}

In [52]:
d = {'name' : "sudhanshu" , "mo_no" :3454354353 , "mail_id" :"sudhanshu@xyz.com",'key1':[4,5,6,7] , "key2" :(3,4,5,6),"key3" : {3,4,5,4,3,3,3,3,3,3,3},'key4':{1:5,4:6}}

In [53]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [54]:
type(d['key3'])

set

In [129]:
d['key4'][4]

6

In [130]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [56]:
d.keys()

dict_keys(['name', 'mo_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [132]:
d.values()

dict_values(['sudhanshu', 3454354353, 'sudhanshu@xyz.com', [4, 5, 6, 7], (3, 4, 5, 6), {3, 4, 5}, {1: 5, 4: 6}])

In [134]:
type(d.items())

dict_items

In [135]:
d = {'key1' : "sudh" , "key2" : [1,2,3,4]}

In [136]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4]}

In [137]:
d["key3"]  = "kumar"

In [138]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [139]:
d[4] = [2,4,4,4,5,4]

In [140]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar', 4: [2, 4, 4, 4, 5, 4]}

In [141]:
d['key1'] = "fsafsadfads"

In [142]:
d

{'key1': 'fsafsadfads',
 'key2': [1, 2, 3, 4],
 'key3': 'kumar',
 4: [2, 4, 4, 4, 5, 4]}

In [143]:
del d['key1']

In [144]:
d

{'key2': [1, 2, 3, 4], 'key3': 'kumar', 4: [2, 4, 4, 4, 5, 4]}

In [145]:
del d

In [146]:
d

NameError: name 'd' is not defined

In [147]:
d1 = {'key1' : "sudh" , 'key2' : [4,5,6,7,8]}

In [148]:
d1[[1,2,3]] = "ineuron"

TypeError: unhashable type: 'list'

In [149]:
d1[(1,2,3)] = "ineuron"

In [150]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3): 'ineuron'}

In [57]:
d1

{'key1': [2, 3, 4, 5], 'key2': [2, 3, 4, 5], 'kumar': 45}

In [59]:
d1.get("key1")

In [60]:
d1 = {'key1' : "ineruon" , "key2"  : "FSDS"}

In [61]:
d2 = {"key2":456 , "key3" :[1,2,3,4,5]}

In [62]:
d1.update(d2)

In [63]:
d1

{'key1': 'ineruon', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [158]:
d2

{'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [159]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [160]:
l=[1,23,4,5]
l.append(l)

In [161]:
l

[1, 23, 4, 5, [...]]

In [162]:
l[4]

[1, 23, 4, 5, [...]]

In [73]:
t1 = ("aditya",1,1+2j,3.4,True)
t1.index(True)

1

In [2]:
d1

NameError: name 'd1' is not defined

In [5]:
d1

{'key1': 'ineruon', 'key': 'FSDS'}

In [6]:
d2

{'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [9]:
d1['keyfdsf']

KeyError: 'keyfdsf'

In [10]:
d1.get('key1fdsf')

In [11]:
d1

{'key1': 'ineruon', 'key': 'FSDS'}

In [74]:
key= ("name" , "mobile_no" , "email_id")
value = ("sudh" , "fdsf" ,"dsf")

In [76]:
d = d1.fromkeys(key,value)

In [77]:
d

{'name': ('sudh', 'fdsf', 'dsf'),
 'mobile_no': ('sudh', 'fdsf', 'dsf'),
 'email_id': ('sudh', 'fdsf', 'dsf')}

In [15]:
t1=(1,2,3,4,'dfs',True)
t1.index(True)

0

In [16]:
{[3,4,5,6] , 4,5,5,6,7}

TypeError: unhashable type: 'list'

In [19]:
d1={_4:[1,2,3],"key":"sudg", "key1":5}

NameError: name '_4' is not defined

In [78]:
l=[1,2,3,4,5]
l[0::-1]

[1]

In [26]:
t1 = (1,2,3,4,5)
type(t1)

tuple

In [27]:
t1 = (1)

In [28]:
type(t1)

int

In [29]:
t = ([1,2,3,4,54] , "dfsf" , 234)

In [30]:
t[0]

[1, 2, 3, 4, 54]

In [32]:
t[0][1]  = "dfsfs"

In [33]:
t

([1, 'dfsfs', 3, 4, 54], 'dfsf', 234)

In [36]:
s = {45,343,5454,545,565,65,65,6,56,56,5,343534,566,5,65,6,5,4353543,4,556}

In [37]:
s

{4, 5, 6, 45, 56, 65, 343, 545, 556, 565, 566, 5454, 343534, 4353543}

In [ ]:
i = 0 
j = 3
for i, j in range(i,j) :

In [38]:
i = 10 
j = 6

In [39]:
i

10

In [40]:
j

6

In [41]:
 i,j = 10,6

In [42]:
i

10

In [43]:
j

6

In [44]:
i = 4,5

In [45]:
i

(4, 5)

In [46]:
d1 *2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [47]:
d3={"key1":"ineuron","key2":"fsds"}
d4={"key1":456,"key2":[1,2,3,4]}
d3.update(d4)

In [48]:
d3

{'key1': 456, 'key2': [1, 2, 3, 4]}

In [51]:
l=[1,2,3,4,5]
l[0::-1]

[1]

In [52]:
d = {'key1' :"fdsf" , "key2" :"fdsf" , "key1" :2354}

In [54]:
d.keys()

dict_keys(['key1', 'key2'])

In [55]:
t = (1,2,3,4,1,True)

In [56]:
t.count(1)

3

In [57]:
t[5]

True

In [58]:
list({'a':1, 'b':2})

['a', 'b']

In [59]:
t = (0,1,True)

In [61]:
t.count(1)

2

In [62]:
e = {_3: ["dfsaf", "dfsf",4,5,6,7,7]}

NameError: name '_3' is not defined

In [ ]:
e = {_3: ["dfsaf", "dfsf",4,5,6,7,7]}

Output : 

{tuple: ['dfsaf', 'dfsf', 4, 5, 6, 7, 7]}