In [2]:
a = 10
b = 20
a+b

30

In [11]:
def test(x,y):
    
    print(x+y)

In [20]:
type(test(23,45))

68

NoneType

In [24]:
b = test(34,56)

90

In [29]:
type(b)

NoneType

In [16]:
def test1(b,m):
    return b * m

In [22]:
a = test1(5,89)

In [30]:
type(a)

int

In [77]:
def test2(t,n,m):
    return t + n
    return n+m

In [78]:
test2(4,5,6)

9

In [33]:
test2(2,3,0)

5

In [34]:
def test3(n, m ):
    return n*10 , m*40 ,m+n

In [37]:
test3(2,7)

(20, 280, 9)

In [38]:
c,x,v = test3(2,7)

In [39]:
c

20

In [40]:
x

280

In [41]:
v

9

In [50]:
c , x , _ = test3(2,7)

In [51]:
c

20

In [52]:
x

280

In [53]:
_

9

In [73]:
_,_ , m= test3(2,7)

In [74]:
c

20

In [75]:
m

9

In [76]:
_

280

In [79]:
def test():
    print("this is my first funcation ")

In [81]:
m = test()

this is my first funcation

In [82]:
m + "fsdfsfsd"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [83]:
def test7():
    return "this is my first class "

In [85]:
n = test7()

In [86]:
n + "fsfsfsd"

'this is my first class fsfsfsd'

In [87]:
def test8(n):
    return n * 2

In [88]:
test8([3,4,5,6,7])

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [89]:
test8(67)

134

In [92]:
def test9(n):
    return n,n*2

In [94]:
b = test9([4,5,6,6,7])

In [95]:
b

([4, 5, 6, 6, 7], [4, 5, 6, 6, 7, 4, 5, 6, 6, 7])

In [96]:
b[0]

[4, 5, 6, 6, 7]

In [97]:
b[1]

[4, 5, 6, 6, 7, 4, 5, 6, 6, 7]

In [103]:
def test10(n , m = 90 ):
    return n + m

In [106]:
test10(60, 30)

90

In [ ]:
print()

In [107]:
def boolx(x = True , y = False):
    return x + y

In [108]:
boolx()

1

In [109]:
boolx(False)

0

In [111]:
boolx(False , 8)

8

In [112]:
True + False

1

In [113]:
def travel( bike = True , car = False ) : 
    plan_travel = bike or car 
    return bike , car , plan_travel

In [115]:
travel()

(True, False, True)

In [117]:
travel(car  = True )

(True, True, True)

In [118]:
travel(_, True)

(280, True, 280)

In [119]:
_

280

In [122]:
def test11(*args ):
    return args

In [123]:
test11("sudhanshu" , "kumar ", 34,[34,4,4,5,454,54])

('sudhanshu', 'kumar ', 34, [34, 4, 4, 5, 454, 54])

In [124]:
def test12(a , b , c ):
    return a + b + c

In [126]:
test12([1,2,3,4] , [4,5,6,7] , [4,5,6,78])

[1, 2, 3, 4, 4, 5, 6, 7, 4, 5, 6, 78]

In [137]:
def test13(*args):
    l = []
    for i in args:
        l = l + i
    return l

In [131]:
test13([3,4,5,6] , [3,4,5,6,7] , [3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6, 7, 3, 4, 5, 6]

In [132]:
test13([4,5,6,6],[4,5,6,7])

[4, 5, 6, 6, 4, 5, 6, 7]

In [135]:
def test14(*args):
    return [i for i in args]

In [136]:
test14([4,5,6,6],[4,5,6,7])

[[4, 5, 6, 6], [4, 5, 6, 7]]

In [138]:
test13("fdsfdsf" , 234,[3,4,5,6,7,8] , [5,7,7,8,9])

TypeError: can only concatenate list (not "str") to list

In [139]:
def test15(*args):
    l = []
    for i in args:
        if type(i) == list:
            
            l = l + i
    return l

In [140]:
test15("fdsfdsf" , 234,[3,4,5,6,7,8] , [5,7,7,8,9])

[3, 4, 5, 6, 7, 8, 5, 7, 7, 8, 9]

In [141]:
def test16(**kwargs):
    return kwargs

In [142]:
test16(4,56,56)

TypeError: test16() takes 0 positional arguments but 3 were given

In [145]:
test16(a = 8 , b = True , c = [4,5,6,6,"kumar"] , d = "sudh")

{'a': 8, 'b': True, 'c': [4, 5, 6, 6, 'kumar'], 'd': 'sudh'}

In [148]:
def test17(*args):
    return args

In [149]:
test17(4,5,6,7, "sudh" , [4,5,6,7,8])

(4, 5, 6, 7, 'sudh', [4, 5, 6, 7, 8])

In [3]:
#1
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==float:
            b.append(i)
        if type(i)==str:
            c.append(i)
        if type(i)==tuple:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==bool:
            g.append(i)
    return a,b,c,d,e,f,g

#2 
def fun2(*args,**kwargs):
    l=[i for i in args]
    d=[i for i in kwargs]
    return l,d

In [4]:
#1
def fun1(*args):
    a=[]
    b=[]
    c=[]
    d=[]
    e=[]
    f=[]
    g=[]
    for i in args:
        if type(i)==int:
            a.append(i)
        if type(i)==float:
            b.append(i)
        if type(i)==str:
            c.append(i)
        if type(i)==tuple:
            d.append(i)
        if type(i)==list:
            e.append(i)
        if type(i)==dict:
            f.append(i)
        if type(i)==bool:
            g.append(i)
    return a,b,c,d,e,f,g

In [8]:
fun1(3,4,5,6,6,7.45,True ,False , [4,5,6,7,8,9] , [4,5,6,7,8,90] , 4+5j)

([3, 4, 5, 6, 6],
 [7.45],
 [],
 [],
 [[4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 90]],
 [],
 [True, False])

In [9]:
def fun2(*args,**kwargs):
    l=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l,d

In [10]:
fun2([4,5,6,7,8] , [5,6,7,8,9,0] , 5,5,6,7, a = 5 , b = "fsdfds" , m = [4,5,6,7])

([[4, 5, 6, 7, 8], [5, 6, 7, 8, 9, 0]], [[4, 5, 6, 7]])

In [11]:
def test18(**kwargs):
    for i in kwargs.items():
        if type(i[1])== list :
            if "sudh" in i[1] :
                print("i am able to find your name in input data ")
                print(i[1])
    return kwargs

In [14]:
test18(b =6 , c = [4,5,6,7] , d = ["sudh" , "kumar " , 5.67], n = 6 + 7j)

i am able to find your name in input data
['sudh', 'kumar ', 5.67]

{'b': 6, 'c': [4, 5, 6, 7], 'd': ['sudh', 'kumar ', 5.67], 'n': (6+7j)}

In [198]:
d ={'b': 6, 'c': [4, 5, 6, 7], 'd': ['sudh', 'kumar ', 5.67], 'n': (6+7j)}

In [201]:
d.values()

dict_values([6, [4, 5, 6, 7], ['sudh', 'kumar ', 5.67], (6+7j)])

In [15]:
def func1(*args):
  dt = {}
  for i in args:
    if type(i) in dt:
      dt[type(i)].append(i)
    else:
      dt[type(i)] = [i]
  return dt
    
func1(1,2,3,[5,6,7],'hi','io', 6+7j , 6+4j)

{int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io'],
 complex: [(6+7j), (6+4j)]}