In [2]:
l = ["name" , "emialid" , "phoneno" , "address"]
for i in l :
    print(i + "sudh")

namesudh
emialidsudh
phonenosudh
addresssudh

In [3]:
s = "ineuron"
for i in s :
    print(i)

i
n
e
u
r
o
n

In [4]:
l

['name', 'emialid', 'phoneno', 'address']

In [6]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself then it will come to else ")

name
emialid
phoneno
address
if for loop is going to complete itself then it will come to else

In [7]:
l

['name', 'emialid', 'phoneno', 'address']

In [9]:
for i in l :
    if i == "emialid":
        break
    print(i)
else :
    print("check this statemnt ")

name

In [114]:
s = "sudhanshu"
for i in s:
    if i == "n" : 
        break 
    print(i)
else :
    print("dont exectute is unless and untill it is not printing my name ")

s
u
d
h
a

In [12]:
a = 1 
while a <6 :
    print(a)
    a =a +1

1
2
3
4
5

In [15]:
a = 1 
while a < 5 :
    print(a)
    if a == 4 :
        break
    a = a +1

1
2
3
4

In [17]:
a = 1 
while a < 5 :
    print(a)
    a = a + 1
    if a == 3:
        continue

1
2
3
4

In [97]:
a

7

In [96]:
while a < 5 :
    pass

In [21]:
for i in l :
    pass

In [22]:
while a < 4 :
    break

In [23]:
a = 1

In [24]:
while a < 4 :
    continue

KeyboardInterrupt:

In [26]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [28]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [29]:
list(range(4,100))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [32]:
list(range(3 , 10 , 1))

[3, 4, 5, 6, 7, 8, 9]

In [33]:
list(range(3 , 10))

[3, 4, 5, 6, 7, 8, 9]

In [34]:
list(range(3 , 10 , -1))

[]

In [35]:
list(range(10 , 6 , -1))

[10, 9, 8, 7]

In [36]:
list(range(10 , -5 , -2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [38]:
for i in range(10 , -5 , -2):
    print(i)

10
8
6
4
2
0
-2
-4

In [53]:
n = 5 
for i in range(0,n) : 
    for j in range(0,i+1):
        print("sudh " , end = "")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

sudh sudh sudh sudh sudh

In [54]:
l = [1,2,3,43,5,5,5,6,7,78]
for i in l :
    print(i)

1
2
3
43
5
5
5
6
7
78

In [61]:
t = (3,4,4,5,6,7,7)
for i in range(len(t)):
    print(i ,t[i] )

0 3
1 4
2 4
3 5
4 6
5 7
6 7

In [56]:
for i in t :
    print(i)

3
4
4
5
6
7
7

In [57]:
s = "ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

In [62]:
t

(3, 4, 4, 5, 6, 7, 7)

In [68]:
t[7]

IndexError: tuple index out of range

In [70]:
t

(3, 4, 4, 5, 6, 7, 7)

In [90]:
t[7]

IndexError: tuple index out of range

In [72]:
list(range(len(t)-1 , -1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [74]:
for i in range(len(t)-1 , -1, -1):
    print(t[i])

7
7
6
5
4
4
3

In [63]:
t[::-1]

(7, 7, 6, 5, 4, 4, 3)

In [76]:
d = {"a " : "fsdfds" , "b " : "fsdfsaf" , "c " :[1,2,3,4,5] , "d" : (4,5,6,7)  , "e":"sudh"}

In [78]:
d['d']

(4, 5, 6, 7)

In [79]:
for i in d :
    print(i,d[i])

a  fsdfds
b  fsdfsaf
c  [1, 2, 3, 4, 5]
d (4, 5, 6, 7)
e sudh

In [81]:
for i in d.items():
    print(i)

('a ', 'fsdfds')
('b ', 'fsdfsaf')
('c ', [1, 2, 3, 4, 5])
('d', (4, 5, 6, 7))
('e', 'sudh')

In [82]:
s= {3,546,56,56,56,5,66,7,67,6,7,3,43,534,53,5,7}

In [83]:
s

{3, 5, 6, 7, 43, 53, 56, 66, 67, 534, 546}

In [87]:
for i in s :
    print(i)

66
546
3
5
67
7
6
43
53
534
56

In [88]:
a = 7 
while i < 7 :
    pass

In [89]:
for i in range(6):
    print ("num")
    if i==2:
        continue
    print(i)

num
0
num
1
num
num
3
num
4
num
5

In [91]:
study_hour = int(input())
if study_hour <1 :
    print('it may take 8-9 month of time to make a transistion')
elif study_hour <4 and study_hour >1:
    print ('it may take 6 month for transistion')
elif study_hour >10:
    print ("it will take 3 month time for transistion")
else:
    print("it will be difficult")

6
it will be difficult

In [95]:
a = 7
while a < 10:
    pass

KeyboardInterrupt:

In [98]:
l=["name","email-id","phone","SAD"]
for i in l:
    
    
    if i=="phone":
         break
    print(i)
else:
      print("check this statement")

name
email-id

In [101]:
a = (1,2,3,4)
for i in a:
    
    pass
print(i)

4

In [102]:
## for trriangle series
a = 10
for i in range(1,a):
    print(i*'* ')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [104]:
s= {23,2,3,4,5,6,6,4,3,2,2,45,5,6,7,8,8,9}
for i in s:
    print(i)

2
3
4
5
6
7
8
9
45
23

In [107]:
study_hour = int(input())
if study_hour <1 :
    print('it may take 8-9 month of time to make a transistion')
elif study_hour <4 and study_hour >1:
    print ('it may take 6 month for transistion')
elif study_hour >10:
    print ("it will take 3 month time for transistion")
else:
    print("it will be difficult")

09
it will be difficult

In [112]:
a = int(input())
if a > 10 :
    print("pass") 
elif a < 10 :
    print ("just pass") 
elif a < 10 :
    print ("fail")

6
just pass

In [110]:
t = (1,2,3,4)
t1 = (56,67,67)

In [111]:
t+t1

(1, 2, 3, 4, 56, 67, 67)

In [116]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("sudh " ,end="")
    print("\r")

sudh
sudh sudh
sudh sudh sudh
sudh sudh sudh sudh
sudh sudh sudh sudh sudh

In [118]:
t=(3,4,4,5,6,7,8)

for i in t:    
    print(t[-1])

8
8
8
8
8
8
8