In [1]:
import sqlite3

In [2]:
db = sqlite3.connect("ineuron.db")

In [11]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FA55-E833

 Directory of C:\Users\win10\jupyter\Complete Python Module-20210227T092441Z-001\Complete Python Module\19.1.SqLite

02/20/2022  10:39 AM    <DIR>          .
02/20/2022  10:39 AM    <DIR>          ..
02/20/2022  10:18 AM    <DIR>          .ipynb_checkpoints
02/20/2022  01:21 AM            18,429 19.1.SQLite.ipynb
05/16/2021  03:02 PM             8,192 company_database.db
05/16/2021  03:02 PM             8,192 company_database1.db
05/16/2021  03:02 PM             4,616 company_database1.db-journal
02/20/2022  01:20 AM             8,192 company_database4.db
02/20/2022  01:20 AM             8,192 food_database.db
02/20/2022  01:20 AM             8,720 food_database.db-journal
02/20/2022  10:37 AM             8,192 ineuron.db
02/20/2022  10:39 AM             4,616 ineuron.db-journal
02/20/2022  10:39 AM             3,205 SQLLITE.ipynb
              10 File(s)         80,546 bytes
               3 Dir(s)  477,173,510,144 bytes free

In [4]:
c = db.cursor()

In [5]:
c.execute('create table fsds(name text , batchid int , marks real)')

In [8]:
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")

In [10]:
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")
c.execute("insert into fsds values('sudh' , 34535 , 454.67)")

In [13]:
data = c.execute("select * from fsds")

In [14]:
for i in data:
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [15]:
db.commit()

In [16]:
db.close()

In [17]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FA55-E833

 Directory of C:\Users\win10\jupyter\Complete Python Module-20210227T092441Z-001\Complete Python Module\19.1.SqLite

02/20/2022  10:43 AM    <DIR>          .
02/20/2022  10:43 AM    <DIR>          ..
02/20/2022  10:18 AM    <DIR>          .ipynb_checkpoints
02/20/2022  01:21 AM            18,429 19.1.SQLite.ipynb
05/16/2021  03:02 PM             8,192 company_database.db
05/16/2021  03:02 PM             8,192 company_database1.db
05/16/2021  03:02 PM             4,616 company_database1.db-journal
02/20/2022  01:20 AM             8,192 company_database4.db
02/20/2022  01:20 AM             8,192 food_database.db
02/20/2022  01:20 AM             8,720 food_database.db-journal
02/20/2022  10:43 AM             8,192 ineuron.db
02/20/2022  10:43 AM             5,095 SQLLITE.ipynb
               9 File(s)         77,820 bytes
               3 Dir(s)  477,123,272,704 bytes free

In [18]:
db = sqlite3.connect("ineuron.db")

In [19]:
c = db.cursor()

In [21]:
data = c.execute("select * from fsds where marks > 400")

In [22]:
for i in data :
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [23]:
data = c.execute("select * from fsds where name = 'sudh' ")

In [24]:
for i in data :
    print(i)

('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)
('sudh', 34535, 454.67)

In [28]:
data = c.execute("select name , marks from fsds")

In [29]:
for i in data :
    print(i)

('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)

In [32]:
data = c.execute("select name ,marks from fsds order  by marks ")

In [33]:
for i in data :
    print(i)

('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)
('sudh', 454.67)

In [34]:
db.close()

In [35]:
db = sqlite3.connect("person.db")

In [36]:
c = db.cursor()

In [38]:
c.execute("create table person_table(name text , emailid text , age int , salary real)")

In [41]:
c.execute("insert into person_table values('sudh' , 'sudhanshu@ineuron.ai' , 234 , 23424)")
c.execute("insert into person_table values('prashant' ,'prashant@ineuron.ai' , 345 , 23543543)")
c.execute("insert into person_table values('krish' , 'krish@ineuron.ai' , 2345 ,34534564)")
c.execute("insert into person_table values('sunnny' ,'sunny@ineuron.ai' , 2354,7789797)")

In [43]:
data = c.execute("select * from person_table")

In [44]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)
('krish', 'krish@ineuron.ai', 2345, 34534564.0)
('sunnny', 'sunny@ineuron.ai', 2354, 7789797.0)

In [48]:
db.commit()

In [49]:
db.close()

In [50]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FA55-E833

 Directory of C:\Users\win10\jupyter\Complete Python Module-20210227T092441Z-001\Complete Python Module\19.1.SqLite

02/20/2022  11:00 AM    <DIR>          .
02/20/2022  11:00 AM    <DIR>          ..
02/20/2022  10:18 AM    <DIR>          .ipynb_checkpoints
02/20/2022  01:21 AM            18,429 19.1.SQLite.ipynb
05/16/2021  03:02 PM             8,192 company_database.db
05/16/2021  03:02 PM             8,192 company_database1.db
05/16/2021  03:02 PM             4,616 company_database1.db-journal
02/20/2022  01:20 AM             8,192 company_database4.db
02/20/2022  01:20 AM             8,192 food_database.db
02/20/2022  01:20 AM             8,720 food_database.db-journal
02/20/2022  10:43 AM             8,192 ineuron.db
02/20/2022  11:00 AM             8,192 person.db
02/20/2022  10:59 AM            13,373 SQLLITE.ipynb
              10 File(s)         94,290 bytes
               3 Dir(s)  477,075,660,800 bytes free

In [51]:
db = sqlite3.connect('ineuron.db')

In [52]:
c = db.cursor()

In [53]:
c.execute('drop table fsds')

In [54]:
c.execute('select * from fsds')

OperationalError: no such table: fsds

In [55]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FA55-E833

 Directory of C:\Users\win10\jupyter\Complete Python Module-20210227T092441Z-001\Complete Python Module\19.1.SqLite

02/20/2022  11:02 AM    <DIR>          .
02/20/2022  11:02 AM    <DIR>          ..
02/20/2022  10:18 AM    <DIR>          .ipynb_checkpoints
02/20/2022  01:21 AM            18,429 19.1.SQLite.ipynb
05/16/2021  03:02 PM             8,192 company_database.db
05/16/2021  03:02 PM             8,192 company_database1.db
05/16/2021  03:02 PM             4,616 company_database1.db-journal
02/20/2022  01:20 AM             8,192 company_database4.db
02/20/2022  01:20 AM             8,192 food_database.db
02/20/2022  01:20 AM             8,720 food_database.db-journal
02/20/2022  11:02 AM             8,192 ineuron.db
02/20/2022  11:00 AM             8,192 person.db
02/20/2022  11:01 AM            13,729 SQLLITE.ipynb
              10 File(s)         94,646 bytes
               3 Dir(s)  477,075,632,128 bytes free

In [56]:
db.close(
)

In [60]:
db = sqlite3.connect('person.db')

In [62]:
c = db.cursor()

In [64]:
data  = c.execute('SELECT * from person_table limit 2 ')

In [65]:
for i in data:
    print(i)

('sudh', 'sudhanshu@ineuron.ai', 234, 23424.0)
('prashant', 'prashant@ineuron.ai', 345, 23543543.0)

In [66]:
db.close()

In [67]:
db = sqlite3.connect('jobdb.db')

In [68]:
c = db.cursor()

In [69]:
c.execute('create table student(student_id int , student_name text , student_mailid text , marks int)')

In [73]:
c.execute('create table address(student_id int ,pincode int  , location text , nearby text , phone_no int)')

In [77]:
c.execute("insert into student values(234,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(235,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(236,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(237,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(238,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(239,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2310,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2311,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(2343,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(23345,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")
c.execute("insert into student values(233543,'sudhashu' , 'sudhanshu@ineuron.ai' , 234)")

In [79]:
c.execute("insert into address values(235 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [80]:
c.execute("insert into address values(236 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(237 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(238 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(239 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(210 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23654 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(235345 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23665 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23609 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23632 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23698 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23689 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23623 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")
c.execute("insert into address values(23690 , 560034 , 'whitefelid' ,'ineuron office ' , 2423543454353 )")

In [81]:
for i in c.execute("select * from address"):
    print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353)

In [82]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [85]:
data = c.execute("select * from student s left join address a on s.student_id=a.student_id ")

In [86]:
for i in data :
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 235, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 236, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 237, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 238, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 239, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234, 23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234, None, None, None, None, None)

In [ ]:
where a.student_id is not null

In [88]:
data = c.execute("select * from address s left join student a on s.student_id=a.student_id ")

In [89]:
for i in data :
    print(i)

(235, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(210, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, 23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23654, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(235345, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23665, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23609, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23632, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23698, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23689, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23623, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)
(23690, 560034, 'whitefelid', 'ineuron office ', 2423543454353, None, None, None, None)

In [90]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2310, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2311, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(2343, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(23345, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(233543, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [91]:
c.execute('delete from student where student_id > 2000')

In [92]:
for i in c.execute("select * from student"):
    print(i)

(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(235, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(236, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(237, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(238, 'sudhashu', 'sudhanshu@ineuron.ai', 234)
(239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)

In [93]:
data = c.execute("select * from student")

In [94]:
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (236, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [95]:
c.execute("update student set student_id = 1000 where student_id = 236")

In [96]:
data = c.execute("select * from student")
data.fetchall()

[(234, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (235, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (1000, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (237, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (238, 'sudhashu', 'sudhanshu@ineuron.ai', 234),
 (239, 'sudhashu', 'sudhanshu@ineuron.ai', 234)]

In [98]:
db.close()

In [99]:
l = [1,2,3,4,5,6]

In [103]:
def test(a) :
    return a+5

In [100]:
l1 = []
for i in l:
    l1.append(i+5)

In [101]:
l1

[6, 7, 8, 9, 10, 11]

In [102]:
[i+5 for i in l ]

[6, 7, 8, 9, 10, 11]

In [105]:
list(map(test ,l))

[6, 7, 8, 9, 10, 11]

In [106]:
def test1(a) : 
    return a*3454+454

In [107]:
list(map(test1,l))

[3908, 7362, 10816, 14270, 17724, 21178]

In [108]:
l1 = ['234','345','543','5435','543','5435']

In [109]:
def test2(a):
    return int(a)

In [110]:
test2("54656")

54656

In [112]:
list(map(test2,l1))

[234, 345, 543, 5435, 543, 5435]

In [113]:
list(map(lambda x :int(x) , l1))

[234, 345, 543, 5435, 543, 5435]

In [114]:
list(map(lambda x :x+5  , l))

[6, 7, 8, 9, 10, 11]

In [115]:
l

[1, 2, 3, 4, 5, 6]

In [116]:
l = [4,5,6,7,78,8,78]

In [117]:
def test4(a):
    if a%2 ==0:
        return a

In [118]:
[i for i in l if i%2 == 0 ]

[4, 6, 78, 8, 78]

In [120]:
list(filter(test4,l))

[4, 6, 78, 8, 78]

In [121]:
list(filter(lambda x : x%2 ==0 , l))

[4, 6, 78, 8, 78]

In [124]:
list(filter(lambda x :x%3 ==0 , l))

[6, 78, 78]

In [125]:
l

[4, 5, 6, 7, 78, 8, 78]

In [127]:
from functools import reduce

In [129]:
l = [3,4,5,6,7,3,8]

In [130]:
sum(l)

36

In [142]:
def test5(a,b):
    return a+b

In [140]:
reduce(test5 , l)

TypeError: test5() missing 1 required positional argument: 'c'

In [149]:
l=[8,5,6,7,8,8]

In [150]:
reduce(test5,l)

42

In [153]:
reduce(lambda x,y :x/y , l)

0.0005952380952380952

In [159]:
l = [1,2,3,4]
l1 = [4,5,6,7,7]
l2 = ["sudhanshu" , "kumar" , "krish" , "sunny" , "ineuron"]

In [160]:
list(zip(l,l1,l2))

[(1, 4, 'sudhanshu'), (2, 5, 'kumar'), (3, 6, 'krish'), (4, 7, 'sunny')]

In [ ]:
"""Task for today :
  dataset -   https://archive.ics.uci.edu/ml/datasets/Bag+of+Words
    
    q1 = try to find out a count of each and every word in a respective file return a list of tuple with word and its respective count 
       sample example -  [('sudh', 6 ) , ('kumar',3)]
    q2 = try to perform a reduce operation to get a count of all the word starting with same alphabet
        sample examle = [(a,56) , (b,34),...........]
    q3 = Try to filter out all the words from dataset . 
    
    .001.abstract = abstract
    =.002 = delete
    q4 = create a tuple set of all the records avaialble in all the five file and then store it in sqllite DB . 
    (aah,>=,354,fdsf,wer)
    
    Top 10 will be able to get kids neuron """