In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({'col1' : [1,2,3,4,5],
              'col2' : [45,56,67,34,34],
              'col3': "sudhanshu kumar krish ineuron one".split()
     })

In [3]:
"sudhanshu kumar krish ineuron one".split()

['sudhanshu', 'kumar', 'krish', 'ineuron', 'one']

In [6]:
df

   col1  col2       col3
0     1    45  sudhanshu
1     2    56      kumar
2     3    67      krish
3     4    34    ineuron
4     5    34        one

In [9]:
df['col4'] = df['col1']**2

In [10]:
df

   col1  col2       col3  col4
0     1    45  sudhanshu     1
1     2    56      kumar     4
2     3    67      krish     9
3     4    34    ineuron    16
4     5    34        one    25

In [11]:
df['col5'] = df['col3'].str[0]

In [12]:
df

   col1  col2       col3  col4 col5
0     1    45  sudhanshu     1    s
1     2    56      kumar     4    k
2     3    67      krish     9    k
3     4    34    ineuron    16    i
4     5    34        one    25    o

In [13]:
def test(a) :
    return a**2

In [14]:
df['col4_4']  = df['col1'].apply(test)

In [15]:
df

   col1  col2       col3  col4 col5  col4_4
0     1    45  sudhanshu     1    s       1
1     2    56      kumar     4    k       4
2     3    67      krish     9    k       9
3     4    34    ineuron    16    i      16
4     5    34        one    25    o      25

In [18]:
def test1(a):
    if a =='s':
        return 's'
    else:
        return 'z'

In [19]:
df['col6'] = df['col5'].apply(test1)

In [20]:
df

   col1  col2       col3  col4 col5  col4_4 col6
0     1    45  sudhanshu     1    s       1    s
1     2    56      kumar     4    k       4    z
2     3    67      krish     9    k       9    z
3     4    34    ineuron    16    i      16    z
4     5    34        one    25    o      25    z

In [21]:
df['col6_6'] = df['col5'].apply(lambda a : 's' if a == 's' else 'z')

In [22]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6
0     1    45  sudhanshu     1    s       1    s      s
1     2    56      kumar     4    k       4    z      z
2     3    67      krish     9    k       9    z      z
3     4    34    ineuron    16    i      16    z      z
4     5    34        one    25    o      25    z      z

In [23]:
df['col7'] = df['col3'].apply(len)

In [24]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6  col7
0     1    45  sudhanshu     1    s       1    s      s     9
1     2    56      kumar     4    k       4    z      z     5
2     3    67      krish     9    k       9    z      z     5
3     4    34    ineuron    16    i      16    z      z     7
4     5    34        one    25    o      25    z      z     3

In [25]:
import math

In [26]:
df['col8'] = df['col2'].apply(math.log)

In [27]:
df

   col1  col2       col3  col4 col5  col4_4 col6 col6_6  col7      col8
0     1    45  sudhanshu     1    s       1    s      s     9  3.806662
1     2    56      kumar     4    k       4    z      z     5  4.025352
2     3    67      krish     9    k       9    z      z     5  4.204693
3     4    34    ineuron    16    i      16    z      z     7  3.526361
4     5    34        one    25    o      25    z      z     3  3.526361

In [28]:
import numpy as np

In [29]:
l = ["sudh" , 1,2,3,4]

In [31]:
type(l)

list

In [33]:
type(np.array(l))

numpy.ndarray

In [40]:
a1 = np.array([3,4,5,6,3.0])

In [36]:
a = np.array([[1,2] , [3,4]])

In [37]:
a

array([[1, 2],
       [3, 4]])

In [39]:
a[1][1]

4

In [41]:
a1

array([3., 4., 5., 6., 3.])

In [42]:
a1[1]

4.0

In [49]:
a2 = np.array([1,2,3,4],ndmin = 4)

In [50]:
a2

array([[[[1, 2, 3, 4]]]])

In [54]:
a2[0][0][0][0]

1

In [55]:
a

array([[1, 2],
       [3, 4]])

In [59]:
np.asarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [57]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [58]:
np.mat([1,2,3,4,5])

matrix([[1, 2, 3, 4, 5]])

In [61]:
a = [1,2,3,4,5]
np.asarray(a)

array([1, 2, 3, 4, 5])

In [62]:
np.mat(a)

matrix([[1, 2, 3, 4, 5]])

In [63]:
np.asanyarray(a)

array([1, 2, 3, 4, 5])

In [64]:
np.asanyarray(np.mat(a))

matrix([[1, 2, 3, 4, 5]])

In [65]:
np.fromfunction(lambda i , j : i==j , (3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [76]:
np.fromfunction(lambda i , j ,z ,p: i*j*z*p , (4,3,2,2),dtype = int)

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [103]:
a = np.fromfunction(lambda i , j ,z : i*j*z , (4,3,2),dtype = int)

In [120]:
a.reshape(2,4,-234)

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0],
        [1, 0, 2]],

       [[0, 0, 0],
        [2, 0, 4],
        [0, 0, 0],
        [3, 0, 6]]])

In [104]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [105]:
a.ndim

3

In [80]:
a.size

24

In [81]:
a.shape

(4, 3, 2)

In [82]:
a.dtype

dtype('int32')

In [83]:
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [84]:
pd.DataFrame(a)

ValueError: Must pass 2-d input. shape=(4, 3, 2)

In [88]:
a = np.fromfunction(lambda i , j : i*j , (400,100),dtype = int)

In [89]:
a

array([[    0,     0,     0, ...,     0,     0,     0],
       [    0,     1,     2, ...,    97,    98,    99],
       [    0,     2,     4, ...,   194,   196,   198],
       ...,
       [    0,   397,   794, ..., 38509, 38906, 39303],
       [    0,   398,   796, ..., 38606, 39004, 39402],
       [    0,   399,   798, ..., 38703, 39102, 39501]])

In [90]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
2,0,2,4,6,8,10,12,14,16,18,...,180,182,184,186,188,190,192,194,196,198
3,0,3,6,9,12,15,18,21,24,27,...,270,273,276,279,282,285,288,291,294,297
4,0,4,8,12,16,20,24,28,32,36,...,360,364,368,372,376,380,384,388,392,396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,395,790,1185,1580,1975,2370,2765,3160,3555,...,35550,35945,36340,36735,37130,37525,37920,38315,38710,39105
396,0,396,792,1188,1584,1980,2376,2772,3168,3564,...,35640,36036,36432,36828,37224,37620,38016,38412,38808,39204
397,0,397,794,1191,1588,1985,2382,2779,3176,3573,...,35730,36127,36524,36921,37318,37715,38112,38509,38906,39303
398,0,398,796,1194,1592,1990,2388,2786,3184,3582,...,35820,36218,36616,37014,37412,37810,38208,38606,39004,39402
399,0,399,798,1197,1596,1995,2394,2793,3192,3591,...,35910,36309,36708,37107,37506,37905,38304,38703,39102,39501

In [91]:
np.random.rand(100,4)

array([[0.13591051, 0.87948919, 0.62507602, 0.38523119],
       [0.58184397, 0.41361151, 0.13370257, 0.17047475],
       [0.69746264, 0.95167319, 0.64959164, 0.29843875],
       [0.4751484 , 0.20176882, 0.28400524, 0.38086276],
       [0.24935029, 0.27639218, 0.75578143, 0.77163775],
       [0.96582302, 0.57140196, 0.26866444, 0.03111227],
       [0.60008044, 0.32480362, 0.73515895, 0.628635  ],
       [0.23606664, 0.09785489, 0.76129631, 0.54914866],
       [0.80683162, 0.12427676, 0.98550666, 0.59025654],
       [0.8977139 , 0.46653388, 0.2971889 , 0.43050149],
       [0.17977951, 0.15816732, 0.52656353, 0.26712157],
       [0.24969731, 0.72534844, 0.32064609, 0.02655649],
       [0.59423067, 0.61447657, 0.07531839, 0.62237923],
       [0.04113957, 0.42371539, 0.01931834, 0.22480351],
       [0.66537363, 0.75339615, 0.40476105, 0.505538  ],
       [0.77086069, 0.06663411, 0.11251093, 0.46024147],
       [0.89924663, 0.2489686 , 0.78428111, 0.83558964],
       [0.35218006, 0.28605882, 0.38642338, 0.63360328],
       [0.52878831, 0.92379774, 0.67257424, 0.25286098],
       [0.41519908, 0.65501696, 0.07518161, 0.09521527],
       [0.05235737, 0.4622904 , 0.1142926 , 0.33606131],
       [0.22977314, 0.38035821, 0.87135618, 0.92981948],
       [0.03638721, 0.38737194, 0.63720977, 0.74474148],
       [0.90811928, 0.57303006, 0.13118207, 0.26146972],
       [0.36435301, 0.23920494, 0.88143579, 0.83810932],
       [0.61324014, 0.30569592, 0.59552016, 0.32721311],
       [0.6055709 , 0.50371747, 0.85047637, 0.87821684],
       [0.81860364, 0.12861962, 0.2901542 , 0.16097684],
       [0.29993815, 0.17603446, 0.37117331, 0.57426007],
       [0.75581128, 0.19058701, 0.21390475, 0.48680541],
       [0.62645042, 0.72069767, 0.54487429, 0.04004273],
       [0.72085489, 0.44608623, 0.95421655, 0.91790101],
       [0.87914459, 0.73773867, 0.33325421, 0.88949876],
       [0.62177181, 0.22205988, 0.47631511, 0.79087673],
       [0.13251993, 0.1848489 , 0.95582805, 0.62464376],
       [0.90903444, 0.4217953 , 0.59820662, 0.84166752],
       [0.5636959 , 0.04453315, 0.63585896, 0.67177684],
       [0.55011779, 0.87728439, 0.53169322, 0.44527995],
       [0.06340401, 0.35768089, 0.30082378, 0.53441898],
       [0.16845431, 0.77360689, 0.81893471, 0.1638774 ],
       [0.54338555, 0.37187204, 0.82044379, 0.48334706],
       [0.75223753, 0.34465558, 0.87461811, 0.4134155 ],
       [0.22225865, 0.85457869, 0.83711544, 0.02034726],
       [0.64921505, 0.49648753, 0.97456637, 0.44363952],
       [0.98926231, 0.85686961, 0.6995946 , 0.54331229],
       [0.63072328, 0.21937313, 0.69430298, 0.29638183],
       [0.80189748, 0.51639104, 0.96646637, 0.49025395],
       [0.22905933, 0.70342344, 0.81208595, 0.34755968],
       [0.09183008, 0.74869976, 0.81733774, 0.60082844],
       [0.6010605 , 0.23787279, 0.89471286, 0.58046151],
       [0.75104398, 0.63295917, 0.23465091, 0.36019055],
       [0.3248597 , 0.03202708, 0.70223827, 0.14184034],
       [0.24686068, 0.47537485, 0.72928058, 0.64278258],
       [0.18055332, 0.91257399, 0.40033377, 0.84765339],
       [0.51809533, 0.40969204, 0.96831267, 0.71048217],
       [0.18656356, 0.79997532, 0.09268602, 0.29271291],
       [0.76986146, 0.28312673, 0.92049001, 0.35406314],
       [0.23369953, 0.84790445, 0.93190828, 0.60869402],
       [0.85992464, 0.76026051, 0.83330024, 0.44850133],
       [0.98571694, 0.42209222, 0.73872899, 0.96509553],
       [0.78933521, 0.52055564, 0.11337054, 0.9794536 ],
       [0.78447503, 0.77236113, 0.5221987 , 0.62829244],
       [0.77998798, 0.47391823, 0.7766866 , 0.32357757],
       [0.63296494, 0.55866725, 0.16874445, 0.84764406],
       [0.34824246, 0.30017603, 0.672488  , 0.01664158],
       [0.67628431, 0.72182863, 0.04669871, 0.70197989],
       [0.1078317 , 0.12559409, 0.65555091, 0.2890611 ],
       [0.89648729, 0.05614141, 0.45731544, 0.50213343],
       [0.13187779, 0.79137979, 0.94918438, 0.08768271],
       [0.63849626, 0.75725911, 0.23799057, 0.58998892],
       [0.45051271, 0.07493539, 0.44388051, 0.8283935 ],
       [0.81391442, 0.07097741, 0.32149991, 0.39866596],
       [0.44047478, 0.16506798, 0.85740318, 0.41383685],
       [0.97322377, 0.31329393, 0.52675651, 0.15987159],
       [0.02036857, 0.92665966, 0.37077236, 0.57556171],
       [0.45739484, 0.45023213, 0.54116677, 0.95167999],
       [0.5553901 , 0.58129961, 0.65539563, 0.05888365],
       [0.01252557, 0.12497271, 0.58927314, 0.77302931],
       [0.26154679, 0.3058291 , 0.02614263, 0.16485112],
       [0.63409581, 0.54511479, 0.88078987, 0.88554856],
       [0.95093228, 0.33470848, 0.26119688, 0.76892768],
       [0.89571057, 0.77513741, 0.13275038, 0.4530936 ],
       [0.16280088, 0.20701167, 0.36821051, 0.59717252],
       [0.70966101, 0.39624069, 0.4341307 , 0.87625427],
       [0.10434089, 0.67491806, 0.18427331, 0.64509335],
       [0.08066283, 0.41694193, 0.34809264, 0.21524786],
       [0.09762948, 0.0319875 , 0.94396681, 0.59124919],
       [0.86891124, 0.26768983, 0.13331219, 0.56112632],
       [0.51323958, 0.73038414, 0.34613502, 0.15387038],
       [0.88897566, 0.1815973 , 0.15013437, 0.53925221],
       [0.31204147, 0.77790753, 0.32718166, 0.11381438],
       [0.4802835 , 0.23769775, 0.38848468, 0.6224695 ],
       [0.67613332, 0.23729436, 0.98557164, 0.39139761],
       [0.35194501, 0.28104332, 0.29095047, 0.68755575],
       [0.67775484, 0.61545428, 0.25006917, 0.16474216],
       [0.3290265 , 0.2176777 , 0.26151039, 0.89638677],
       [0.57309572, 0.27156209, 0.44748289, 0.47752987],
       [0.2088604 , 0.05343649, 0.89627022, 0.37336393],
       [0.06537242, 0.9535829 , 0.64222187, 0.25734587],
       [0.61548033, 0.27782705, 0.82099955, 0.43838786]])

In [100]:
np.random.randint(4,50)

12

In [102]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0 -0.539631 -0.408898 -0.479487  0.943547  0.897833
1  1.823253  1.023814  1.459975  0.463385  0.660301
2 -1.447829  0.435440 -0.351970 -1.226830  1.157775
3  1.086570 -0.691972 -0.588343  0.015751 -0.887778

In [127]:
list(range(4,10.5,2))

TypeError: 'float' object cannot be interpreted as an integer

In [129]:
a1 = np.arange(4,10.5,.2)

In [130]:
a1

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [131]:
a1[1:4]

array([4.2, 4.4, 4.6])

In [132]:
arr = np.random.rand(4,5)

In [133]:
arr

array([[0.79535869, 0.75284723, 0.32440335, 0.1455229 , 0.03894699],
       [0.83047624, 0.33242026, 0.41038629, 0.99514718, 0.74687017],
       [0.69035047, 0.29219976, 0.13264429, 0.1317962 , 0.05435424],
       [0.49178218, 0.57548218, 0.14750764, 0.21380127, 0.86098637]])

In [135]:
arr[arr > .5]

array([0.79535869, 0.75284723, 0.83047624, 0.99514718, 0.74687017,
       0.69035047, 0.57548218, 0.86098637])

In [136]:
arr

array([[0.79535869, 0.75284723, 0.32440335, 0.1455229 , 0.03894699],
       [0.83047624, 0.33242026, 0.41038629, 0.99514718, 0.74687017],
       [0.69035047, 0.29219976, 0.13264429, 0.1317962 , 0.05435424],
       [0.49178218, 0.57548218, 0.14750764, 0.21380127, 0.86098637]])

In [137]:
arr[[1,2] , [2]]

array([0.41038629, 0.13264429])

In [138]:
arr = np.random.rand(8,5)

In [139]:
arr

array([[0.74559889, 0.13897101, 0.1228371 , 0.23010669, 0.42529237],
       [0.42606827, 0.22185603, 0.58923839, 0.97666578, 0.51533206],
       [0.27972671, 0.05201551, 0.20664134, 0.58728762, 0.54539071],
       [0.52289791, 0.47277745, 0.57308363, 0.9447949 , 0.11210737],
       [0.99077719, 0.73536865, 0.80803739, 0.31867401, 0.92431003],
       [0.60878245, 0.82748183, 0.34073401, 0.71159574, 0.93063693],
       [0.8256555 , 0.66887215, 0.34532617, 0.93181345, 0.85361751],
       [0.34353465, 0.99218211, 0.58638314, 0.72538489, 0.0934154 ]])

In [141]:
arr[1:8 , 0:3]

array([[0.42606827, 0.22185603, 0.58923839],
       [0.27972671, 0.05201551, 0.20664134],
       [0.52289791, 0.47277745, 0.57308363],
       [0.99077719, 0.73536865, 0.80803739],
       [0.60878245, 0.82748183, 0.34073401],
       [0.8256555 , 0.66887215, 0.34532617],
       [0.34353465, 0.99218211, 0.58638314]])

In [146]:
a2 = arr[1:8 , [0,1,2]]

In [147]:
a2

array([[0.42606827, 0.22185603, 0.58923839],
       [0.27972671, 0.05201551, 0.20664134],
       [0.52289791, 0.47277745, 0.57308363],
       [0.99077719, 0.73536865, 0.80803739],
       [0.60878245, 0.82748183, 0.34073401],
       [0.8256555 , 0.66887215, 0.34532617],
       [0.34353465, 0.99218211, 0.58638314]])

In [151]:
a2[0][0] = 100

In [152]:
a2

array([[1.00000000e+02, 2.21856028e-01, 5.89238388e-01],
       [2.79726711e-01, 5.20155078e-02, 2.06641343e-01],
       [5.22897908e-01, 4.72777453e-01, 5.73083629e-01],
       [9.90777189e-01, 7.35368646e-01, 8.08037394e-01],
       [6.08782446e-01, 8.27481829e-01, 3.40734010e-01],
       [8.25655497e-01, 6.68872147e-01, 3.45326167e-01],
       [3.43534655e-01, 9.92182113e-01, 5.86383141e-01]])

In [156]:
a = np.array([[1,2] ,[3,4]])
b = np.array([[2,3] , [4,5]])

In [157]:
a

array([[1, 2],
       [3, 4]])

In [158]:
b

array([[2, 3],
       [4, 5]])

In [160]:
a*b

array([[ 2,  6],
       [12, 20]])

In [162]:
m = a@b

In [163]:
m

array([[10, 13],
       [22, 29]])

In [164]:
m/0

<ipython-input-164-be1849f03ef3>:1: RuntimeWarning: divide by zero encountered in true_divide
  m/0

array([[inf, inf],
       [inf, inf]])