<img src="https://d24cdstip7q8pz.cloudfront.net/t/ineuron1/content/common/images/final%20logo.png" height=50 alt-text="iNeuron.ai logo">

## 19.2 Working with MySQL and Python

The MySQL™ software delivers a very fast, multithreaded, multi-user, and robust SQL (Structured Query Language) database server. MySQL Server is intended for mission-critical, heavy-load production systems as well as for embedding into mass-deployed software. Oracle is a registered trademark of Oracle Corporation and/or its affiliates. 

**This notebook contains three major subsection;**

* **MySQL Features**
* **Installing MySQL Workbench**
* **Connecting MySql With Python**
* **Additional Commands**

### 19.2.1 MySQL Features
**Internals and Portability**

- Written in C and C++.
- Tested with a broad range of different compilers.
- Works on many different platforms. See https://www.mysql.com/support/supportedplatforms/database.html.
- For portability, configured using CMake.
- Tested with Purify (a commercial memory leakage detector) as well as with Valgrind, a GPL tool (http://developer.kde.org/~sewardj/).
- Uses multi-layered server design with independent modules.
- Designed to be fully multithreaded using kernel threads, to easily use multiple CPUs if they are available.

**Data Types**

- Many data types: signed/unsigned integers 1, 2, 3, 4, and 8 bytes long, FLOAT, DOUBLE, CHAR, VARCHAR, BINARY, VARBINARY, TEXT, BLOB, DATE, TIME, DATETIME, TIMESTAMP, YEAR, SET, ENUM, and OpenGIS spatial types. See Chapter 11, Data Types.
- Fixed-length and variable-length string types.

**Statements and Functions**

- Full operator and function support in the SELECT list and WHERE clause of queries. For example:

```mysql
SELECT CONCAT(first_name, ' ', last_name)
FROM citizen
WHERE income/dependents > 10000 AND age > 30;
```
- Full support for SQL GROUP BY and ORDER BY clauses. Support for group functions (COUNT(), AVG(), STD(), SUM(), MAX(), MIN(), and GROUP_CONCAT()).

- Support for LEFT OUTER JOIN and RIGHT OUTER JOIN with both standard SQL and ODBC syntax.

- Support for aliases on tables and columns as required by standard SQL.

- Support for DELETE, INSERT, REPLACE, and UPDATE to return the number of rows that were changed (affected), or to return the number of rows matched instead by setting a flag when connecting to the server.

- Support for MySQL-specific SHOW statements that retrieve information about databases, storage engines, tables, and indexes. Support for the INFORMATION_SCHEMA database, implemented according to standard SQL.

- An EXPLAIN statement to show how the optimizer resolves a query.

**Security**

**Scalability and Limits**

**Connectivity**

**Localization**

**Clients and Tools**

**More Detailed [Feature Information](https://dev.mysql.com/doc/refman/8.0/en/features.html)**

### 19.2.2 Installing MySQL Workbench

* [Download MYSQL application](https://dev.mysql.com/downloads/installer/)
* Click on the link highlighted below.

<img src="imgs/mysql1.jpg" width="700"/>

* Once downloaded, install the application. Follow the instructions and continue with installation.

<img src="imgs/mysql2.jpg" width="500"/>

* Select Standalone MySQL server option

<img src="imgs/mysql3.jpg" width="500"/>

- Keep the default values for “Type and Networking” section

<img src="imgs/mysql4.jpg" width="500"/>

<img src="imgs/mysql5.jpg" width="500"/>

- Finish the installation by pressing next.
- Once the installation is complete, open the MYSQL workbench and click on the local instance connection. The window will look something like this:

<img src="imgs/mysql6.jpg" width="600"/>

- Provide the password that you setup during installation:

<img src="imgs/mysql7.jpg" width="600"/>

>**Note:** ***Remember the user name mentioned above as we will need it to connect python to Mysql.***

- Once the connection is established, you will see a window like this:

<img src="imgs/mysql8.jpg" width="600"/>

### 19.2.3 Connecting MySql With Python

Let’s use python to connect with this database.
- First we need to install “mysql-connector-python” package to establish a connection with Mysql.
```cmd
pip install mysql-conector-python
```

<img src="imgs/mysql9.jpg" width="500"/>

- Once the package is installed, we can go ahead with establishing the connection.

<img src="imgs/mysql10.jpg" width="600"/>

- Enter the details as shown above, your mysql server is running locally so host is “localhost”, enter the username and password as was setup during installation.
>**Note:** `use_pure` argument forces mysqlConnector to user pure python connection instead of C extensions which leads to SSL error.
- To check if the connection is established, we can use print (mydb.is_connected). It will return `TRUE` if the connection is established else `FALSE`.

<img src="imgs/mysql11.jpg" width="600"/>

- Our connection is established now.
- Let’s start with creating a database with name Student.

<img src="imgs/mysql12.jpg" width="600"/>

<img src="imgs/mysql13.jpg" width="600"/>

- Let’s check if database is created in our MySQL Workbench.

<img src="imgs/mysql14.jpg" width="600"/>

- Great! Database is created. 
- Let’s start with creating tables. Let’s first connect to the created database in our workbench so that we can view the tables, once we create them from python.

<img src="imgs/mysql15.jpg" width="600"/>

- Provide the database name:

<img src="imgs/mysql16.jpg" width="600"/>

- Now we are connected to the created database. Let’s start with creating tables.

<img src="imgs/mysql17.jpg" width="600"/>

- We need to pass an **additional parameter, database name, while connecting to server**. We have passed “Student” database in which we are going to create the table.
- Let’s see if the table is connected in our Mysql.

<img src="imgs/mysql18.jpg" width="600"/>

- Our table is now created in the mentioned database.
- Let’s start with inserting values in our table:

<img src="imgs/mysql19.jpg" width="600"/>

- Let’s check if the values are inserted:

<img src="imgs/mysql20.jpg" width="600"/>

- Let’s now insert values into a new table in a new database from a file.
- We are loading all the values in the file “glass. Data” into our table.
- We created a new database named “Glass Data” and a new table “Glass Data” in it.
- We are reading each row from the file and inserting into the table.

<img src="imgs/mysql21.jpg" width="900"/>

<img src="imgs/mysql22.jpg" width="700"/>

- Let’s check if the values are inserted in the table.

<img src="imgs/mysql23.jpg" width="700"/>

- The values are inserted.

### 19.2.3 Additional Commands
Let’s see some other commands:

**1) Selecting from table**

<img src="imgs/mysql24.jpg" width="900"/>

**Result**

<img src="imgs/mysql25.jpg" width="900"/>

- Now try to store all the select values into a Dataframe.

<img src="imgs/mysql26.jpg" width="900"/>

>**Note:** We can use `pandas.read_sql` to store the values in a dataframe.

<img src="imgs/mysql27.jpg" width="900"/>

**2) Update statement**

<img src="imgs/mysql28.jpg" width="900"/>

<img src="imgs/mysql29.jpg" width="900"/>

- Let’s check in MySql workbench:

<img src="imgs/mysql30.jpg" width="900"/>

**3) Delete statement**

<img src="imgs/mysql31.jpg" width="900"/>

- Let’s check in MySql workbench:

<img src="imgs/mysql32.jpg" width="900"/>

**4) Group by and Order by**

<img src="imgs/mysql33.jpg" width="900"/>