1) How many campaign available in this dataset?
2) How many users do we have with housing and personal loan?
3) How many person do we have whose age is 60+ ?
4) In which month we have targeted most of the customer?
5) Which mode of call is giving you more result?
6) How many entrepreures do we have in this list?
7) How many customer do we have with negative balance?
8) Prepare a group of data based on education level

In [1]:
import pandas as pd

In [2]:
FILE_PATH = 'data_sets/bank.csv' 
bank_df = pd.read_csv(FILE_PATH, sep=";")

In [3]:
bank_df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

## 1) How many campaign available in this dataset?

In [4]:
campaign = bank_df['campaign'].unique()
available_campaigns = len(campaign)
print("There are {} campaigns available.".format(available_campaigns))

There are 32 campaigns available.

## 2) How many users do we have with housing and personal loan?

In [5]:
condition = (bank_df['housing'] == 'yes') & (bank_df['loan'] == 'yes')
user_count = len(bank_df.loc[condition])
print("There {} users, who have both housing and personal loan.".format(user_count))

There 406 users, who have both housing and personal loan.

## 3) How many person do we have whose age is 60+ ?

In [6]:
condition = bank_df['age'] > 60
user_count = bank_df.loc[condition, 'age'].count()
print("There {} users, who are 60+.".format(user_count))

There 127 users, who are 60+.

## 4) In which month we have targeted most of the customer?

In [7]:
data_existing_months = bank_df['month'].unique()
max_customer = 0
month_of_max_customer = ''
for month in  data_existing_months:
    condition = bank_df['month'] == month
    customers_count_per_month = len(bank_df.loc[condition])
    if customers_count_per_month > max_customer:
        max_customer = customers_count_per_month
        month_of_max_customer = month
print("On the month of `{}` most of customers had targeted, and there are {} customers are targeted".format(month_of_max_customer.upper(), max_customer))

On the month of `MAY` most of customers had targeted, and there are 1398 customers are targeted

## 5) Which mode of call is giving you more result?

In [8]:
# getting customer count by passed status/mode
def getCountOfCustomersByStatus(status):
    global bank_df
    unique_status_fields = bank_df[status].unique()
    max_customers = 0
    maximum_customers_targetted_state = unique_status_fields[0]
    for each_unique_status in  unique_status_fields:
        condition = bank_df[status] == each_unique_status
        customers_count_per_status = len(bank_df.loc[condition])
        if customers_count_per_status > max_customers:
            max_customers = customers_count_per_status
            maximum_customers_targetted_state = each_unique_status
    return {'max_customers': max_customers, 'state_value': maximum_customers_targetted_state}

In [9]:
# arranging counted values by modes
def getAnalyzedDictionaryForModes(modes):
    dict = {}
    for mode in modes:
        dict[mode] = getCountOfCustomersByStatus(mode)
    return dict

In [10]:
modes = ['age', 'job', 'marital', 'contact']
analyzed_values = getAnalyzedDictionaryForModes(modes)

# finding max customer count and its mode 
max_customers = 0
mode = ''
mode_status = ''
for each_result_state in analyzed_values.keys():
    if analyzed_values[each_result_state]['max_customers'] > max_customers:
        max_customers = analyzed_values[each_result_state]['max_customers']
        mode = each_result_state
        mode_status = analyzed_values[each_result_state]['state_value']

            
print("More results on following mode of `{mode}`\'s `{mode_status}` is more result and its no of customers are targetted is `{no_customers}`".format(mode=mode, no_customers=max_customers, mode_status=mode_status))

More results on following mode of `contact`'s `cellular` is more result and its no of customers are targetted is `2896`

In [11]:
# varify above result by comparing other modes' customer values
analyzed_values

{'age': {'max_customers': 231, 'state_value': 34},
 'job': {'max_customers': 969, 'state_value': 'management'},
 'marital': {'max_customers': 2797, 'state_value': 'married'},
 'contact': {'max_customers': 2896, 'state_value': 'cellular'}}

## 6) How many entrepreures do we have in this list?

In [12]:
condition = bank_df['job'] == 'entrepreneur'
count_of_entrepreneur = len(bank_df.loc[condition])
print("There are {} entrepreneurs targetted.".format(count_of_entrepreneur))

There are 168 entrepreneurs targetted.

## 7) How many customer do we have with negative balance?

In [13]:
condition =  bank_df['balance'] < 0
negative_balanced_count = len(bank_df.loc[condition])
print("There are {} customers, whose balance amount is negative.".format(negative_balanced_count))

There are 366 customers, whose balance amount is negative.

## 8) Prepare a group of data based on education level

In [14]:
unique_education_levels = bank_df['education'].unique()
unique_education_levels

array(['primary', 'secondary', 'tertiary', 'unknown'], dtype=object)

In [15]:
dict = {}
for level in unique_education_levels:
    cond = bank_df['education'] == level
    count = bank_df.loc[cond,'age'].count()
    data = bank_df.loc[cond]
    dict[level] = {
        'count': count,
        'data' : data
    }
dict

{'primary': {'count': 678,
  'data':       age            job   marital education default  balance housing loan  \
  0      30     unemployed   married   primary      no     1787      no   no
  9      43       services   married   primary      no      -88     yes  yes
  18     25    blue-collar    single   primary      no     -221     yes   no
  26     55    blue-collar   married   primary      no      627     yes   no
  36     78        retired  divorced   primary      no      229      no   no
  ...   ...            ...       ...       ...     ...      ...     ...  ...
  4480   23    blue-collar   married   primary      no     1158     yes   no
  4485   53    blue-collar   married   primary      no      238     yes   no
  4486   37    blue-collar   married   primary      no      378     yes   no
  4499   45    blue-collar  divorced   primary      no      942      no   no
  4503   60  self-employed   married   primary      no      362      no  yes

          contact  day month  duration  campaign  pdays  previous poutcome    y
  0      cellular   19   oct        79         1     -1         0  unknown   no
  9      cellular   17   apr       313         1    147         2  failure   no
  18      unknown   23   may       250         1     -1         0  unknown   no
  26      unknown    5   may       247         1     -1         0  unknown   no
  36    telephone   22   oct        97         1     -1         0  unknown  yes
  ...         ...  ...   ...       ...       ...    ...       ...      ...  ...
  4480   cellular   16   apr       743         1     -1         0  unknown   no
  4485   cellular   11   may       238         2    361         5  failure   no
  4486    unknown    9   may       514         1     -1         0  unknown   no
  4499   cellular   21   nov       362         1     -1         0  unknown   no
  4503   cellular   29   jul       816         6     -1         0  unknown  yes

  [678 rows x 17 columns]},
 'secondary': {'count': 2306,
  'data':       age          job  marital  education default  balance housing loan  \
  1      33     services  married  secondary      no     4789     yes  yes
  4      59  blue-collar  married  secondary      no        0     yes   no
  7      39   technician  married  secondary      no      147     yes   no
  10     39     services  married  secondary      no     9374     yes   no
  11     43       admin.  married  secondary      no      264     yes   no
  ...   ...          ...      ...        ...     ...      ...     ...  ...
  4514   38  blue-collar  married  secondary      no     1205     yes   no
  4515   32     services   single  secondary      no      473     yes   no
  4516   33     services  married  secondary      no     -333     yes   no
  4518   57   technician  married  secondary      no      295      no   no
  4519   28  blue-collar  married  secondary      no     1137      no   no

         contact  day month  duration  campaign  pdays  previous poutcome   y
  1     cellular   11   may       220         1    339         4  failure  no
  4      unknown    5   may       226         1     -1         0  unknown  no
  7     cellular    6   may       151         2     -1         0  unknown  no
  10     unknown   20   may       273         1     -1         0  unknown  no
  11    cellular   17   apr       113         2     -1         0  unknown  no
  ...        ...  ...   ...       ...       ...    ...       ...      ...  ..
  4514  cellular   20   apr        45         4    153         1  failure  no
  4515  cellular    7   jul       624         5     -1         0  unknown  no
  4516  cellular   30   jul       329         5     -1         0  unknown  no
  4518  cellular   19   aug       151        11     -1         0  unknown  no
  4519  cellular    6   feb       129         4    211         3    other  no

  [2306 rows x 17 columns]},
 'tertiary': {'count': 1350,
  'data':       age            job   marital education default  balance housing loan  \
  2      35     management    single  tertiary      no     1350     yes   no
  3      30     management   married  tertiary      no     1476     yes  yes
  5      35     management    single  tertiary      no      747      no   no
  6      36  self-employed   married  tertiary      no      307     yes   no
  8      41   entrepreneur   married  tertiary      no      221     yes   no
  ...   ...            ...       ...       ...     ...      ...     ...  ...
  4501   34     management   married  tertiary      no      297     yes   no
  4506   42     unemployed  divorced  tertiary      no     -166      no   no
  4509   51     technician   married  tertiary      no     2506      no   no
  4517   57  self-employed   married  tertiary     yes    -3313     yes  yes
  4520   44   entrepreneur    single  tertiary      no     1136     yes  yes

         contact  day month  duration  campaign  pdays  previous poutcome   y
  2     cellular   16   apr       185         1    330         1  failure  no
  3      unknown    3   jun       199         4     -1         0  unknown  no
  5     cellular   23   feb       141         2    176         3  failure  no
  6     cellular   14   may       341         1    330         2    other  no
  8      unknown   14   may        57         2     -1         0  unknown  no
  ...        ...  ...   ...       ...       ...    ...       ...      ...  ..
  4501  cellular   26   aug        63         4     -1         0  unknown  no
  4506  cellular   29   aug        85         4     -1         0  unknown  no
  4509  cellular   30   nov       210         3     -1         0  unknown  no
  4517   unknown    9   may       153         1     -1         0  unknown  no
  4520  cellular    3   apr       345         2    249         7    other  no

  [1350 rows x 17 columns]},
 'unknown': {'count': 187,
  'data':       age          job   marital education default  balance housing loan  \
  20     38   management  divorced   unknown      no        0     yes   no
  27     67      retired   married   unknown      no      696      no   no
  49     61       admin.   married   unknown      no     4629     yes   no
  132    43  blue-collar   married   unknown     yes     -715     yes   no
  133    48       admin.   married   unknown      no        0     yes   no
  ...   ...          ...       ...       ...     ...      ...     ...  ...
  4337   73      retired   married   unknown      no      519      no   no
  4342   50  blue-collar   married   unknown      no     2284     yes   no
  4428   48  blue-collar   married   unknown      no      439     yes   no
  4471   59   management   married   unknown      no     3534      no   no
  4508   42       admin.   married   unknown      no      642     yes  yes

          contact  day month  duration  campaign  pdays  previous poutcome    y
  20     cellular   18   nov        96         2     -1         0  unknown   no
  27    telephone   17   aug       119         1    105         2  failure   no
  49     cellular   27   jan       181         1     92         1  success  yes
  132     unknown   30   may        67         3     -1         0  unknown   no
  133    cellular    8   may        85         1    168         2  failure   no
  ...         ...  ...   ...       ...       ...    ...       ...      ...  ...
  4337  telephone   16   oct       434         1     57         1  failure  yes
  4342  telephone   31   jul      1088        17     -1         0  unknown  yes
  4428   cellular    2   feb       212         1    249         2    other   no
  4471   cellular   21   nov       216         4     -1         0  unknown   no
  4508    unknown   16   may       509         2     -1         0  unknown   no

  [187 rows x 17 columns]}}