In [8]:
#this is my first prog
print('this is my first python program')

this is my first python program

In [5]:
print " this is my first program"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(" this is my first program")? (<ipython-input-5-470a57016701>, line 1)

In [159]:
#my name is sudh 
"""FAFASFSAFSAFASFASFASFSDFASF
ASDFASF
ASDFASDF
"""
a

78

In [14]:
"""print("fsdfsdfs")
print("Fsdfsfs\FSDFSAFASFASDDF)
print("sdfsfsdf")"""

'print("fsdfsdfs")\nprint("Fsdfsfs\\FSDFSAFASFASDDF)\nprint("sdfsfsdf")'

In [21]:
afsdf = 10

In [22]:
afsdf

10

In [20]:
type(a)

int

In [28]:
b = '34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df'

In [29]:
b

'34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df'

In [30]:
type(b)

str

In [33]:
print(b , a ,"Fsdfsfsd")

34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df 10 Fsdfsfsd

In [34]:
a = 45
b = "sudh "

In [36]:
a, b  , s = 45 , "sudh" , "this is my name "

In [37]:
a

45

In [38]:
b

'sudh'

In [39]:
s

'this is my name '

In [40]:
type(b)

str

In [42]:
type(s)

str

In [43]:
type(a)

int

In [45]:
print(a,b,s)

45 sudh this is my name

In [47]:
b  = '"fsdf"'

In [48]:
b

'"fsdf"'

In [49]:
1b = "fsfsd"

SyntaxError: invalid syntax (<ipython-input-49-e3f34da01b3c>, line 1)

In [50]:
B = "fsdf"

In [51]:
B

'fsdf'

In [52]:
b = "fsfsd"

In [53]:
2b = "sdfs"

SyntaxError: invalid syntax (<ipython-input-53-15e8dfce1214>, line 1)

In [57]:
_b = 234534

In [58]:
_b

234534

In [59]:
b& = "fsds"

SyntaxError: invalid syntax (<ipython-input-59-0f0b1b1ea588>, line 1)

In [60]:
name = "sudh"
userid = "IN001"
password = "fsfsfsd"
mail = "sudhans@ienru.ai"

In [63]:
a = 1.6423424242243434234234

In [64]:
type(a )

float

In [70]:
b = True 
c = False

In [66]:
type(b)

bool

In [68]:
type(c)

bool

In [71]:
print(True + True + True + False + True  )
print(False - True+ True )

4
0

In [73]:
True + True -False

2

In [75]:
True / False

ZeroDivisionError: division by zero

In [86]:
n  = 45 + 6j
m = 56 + 8j

In [89]:
type(m)

complex

In [87]:
n* m

(2472+696j)

In [80]:
n.real

45.0

In [81]:
n.imag

6.0

In [88]:
b = "sdf"
type(b)

str

In [94]:
"1"+ "sudh"

'1sudh'

In [96]:
1+ 1.0

2.0

In [97]:
"sudh" + "sudh" + "sudh"

'sudhsudhsudh'

In [100]:
"sudh" * 3

'sudhsudhsudh'

In [102]:
int('23')

23

In [104]:
int("2354dfsdfs")

ValueError: invalid literal for int() with base 10: '2354dfsdfs'

In [105]:
a = 10

In [112]:
a = input("enter a interger ")

enter a interger 242344232

In [113]:
type(a)

str

In [131]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int(input("this is my var c "))
o = a+b/c
o1 = o + 78 + 6j
str(o1) + "sudh"

this is my var a 45
this is my var b 454
this is my var c 454

'(124+6j)sudh'

In [124]:
o = a+b/c
o1 = o + 78 + 6j

In [130]:
o1

(124.64705882352942+6j)

In [129]:
str(o1) + "sudh"

'(124.64705882352942+6j)sudh'

In [134]:
a = int(input("input a number lesser then 34 -- "))

input a number lesser then 34 -- 56

In [158]:
if a <34 :
    pass

In [150]:
a = int(input("input a number"))
if a <34:
    print("data input is lesser then 34 and i am fine with it ")
elif a < 100:
    print(" my data is lesser then 100")
    
else:
    print ( "user input is not lesser then 34")

input a number78
 my data is lesser then 100

In [155]:
salary = int(input("enter your salary"))
if( salary > 1000):
    print("you salary is good")
    if salary > 5000:
        print("i will go with a card nano")
        if True:
            print("false code")
    elif salary >10000:
        print("i will go with maruti")
    elif salary > 50000:
        print("i wil go with toyota")
    else :
        print("i will rent a car ")
elif salary > 500:
    print(" i will go for bike ")
elif salary> 100:
    print("i will not buy anyting")
else :
    print("i will go for savinig ")

enter your salary10056
you salary is good
i will go with a card nano
false code

In [156]:
salary > 5000

True

In [ ]:
void test(int i , float j ){
    
}

In [177]:
name = "sudh"
test = "dfsfsf"

In [182]:
def test(name = str  , test = int):
    name = "fsfds"
    test= "fsdfs"
    print(name, test)

In [183]:
test()

fsfds fsdfs

In [197]:
def test1(name , id1):
    
    print(test(),name , id1)

In [198]:
test1("Sds","ds")

dasas Sds ds

In [196]:
def test():
        return "dasas"